.profile__img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.profile__img--small {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.box-shadow-btn {
    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
}