.bg-is-liked {
    background-color: #1d60b3;
}

.article-description, .article-author {
    margin: 20px 0;
}

.article-link {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.9)
}

.liked-btn {
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}


.liked-btn:hover {
    text-decoration: none;
}

.buttons-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.article-created_at {
    margin-left: auto;
}